<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">
    <title>Registration Form</title>
</head>

<body>
    <h1 style='text-align: center; color: crimson; font-size: 25px;'> Registration Form</h1>
    
    {% for message in form.name.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    {% for message in form.phoneNumber.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    {% for message in form.passWord.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('registrationform') }}" method="post">
        {{ form.hidden_tag }}

        <div class="table-selection">
            <table>
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.passWord.label }}</td>
                    <td>{{ form.passWord }}</td>
                </tr>
                <tr>
                    <td>{{ form.phoneNumber.label }}</td>
                    <td>{{ form.phoneNumber }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form.submit(class="anchor-button") }}</td>
                </tr>
            </table>
        </div>
    </form>

    <p style="text-align: center;">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p> <!-- Link to Login Page -->
</body>
</html>
