<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='custom.css')}}">
    <title>Error</title>
</head>
<body>
    <form action="http://localhost:5000/register" method='post'></form>
    <h1 style=font-size:40px;color:fuchsia;text-align:center>User Already Exists Please Try for New Username </h1>
    <p><a class="anchor-button" href="{{ url_for('registrationform') }}"><strong>Register</strong></a></p>
</body>
</html>